    <div class='header'>
      <h1>Whitney-Rose Levis</h1>
    </div>
    <div class='header'>
      <h2>Achievements</h2>
    </div>

    <div class='container'>
      <img src="/images/badges/sinatrafirst.gif" alt="15 point achievement unlocked created a sinatra site" class='response'>
      <img src="/images/badges/htmlfirst.gif" alt="5 point achievement unlocked created an html page" class='response'>
      <img src="/images/badges/cssfirst.gif" alt="5 point achievement unlocked created a css page" class='response'>
      <img src="/images/badges/a11yfirst.gif" alt="15 point achievement unlocked created alt text for images" class='response'>
    </div><!-- end of container -->

    <div class='container' role='note'>
      <div class='footer'>Site Design and Development by: Whitney-Rose Levis</div>
      <div class='footer'>Blue Bubbles photo by: Tim Fields</div>
    </div>
