<!DOCTYPE html>
<html>
  <head>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <title>Whitney's Blog</title>
  </head>

  <body>
    <div class='nav-selector'>
      <select name='navigation'>
        <option value='about'>About Me</option>
        <option value='blog'>Blog</option>
        <option value='badges'>Achievements</option>
        <option value='projects'>Projects</option>
        <option value='picks'>Links & Picks</option>
        <option value='feedback'>Feedback</option>
        <option value='contact'>Contact Info</option>
      </select>
      <button>Go</button>
    </div>
 <!-- end of container -->
  </body>
</html>