<div class='list'>   
  <ul class='cleanList'>
    <% @sorted_posts.each do |post, date_array| %>
      <li><h4><a class='blogLink' href="/blog/<%= post %>"><%= post %></a></h4></li> 
    <% end %>
  </ul>
</div>
