<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <title>Whitney's Blog</title>
  </head>

  <body>
    <form action="/processing" role="navigation" class='response'>
      <div class='nav-selector'>
        <label for="navigation">Navigation</label>
          <select name='navigation'id="navigation">
            <fieldset>
              <optgroup label="navigation">
                <option value='about'>About Me</option>
                <option value='blog' selected>Blog</option>
                <option value='badges'>Achievements</option>
                <option value='projects'>Projects</option>
                <option value='picks'>Links & Picks</option>
                <option value='feedback'>Feedback</option>
                <option value='contact'>Contact Info</option>
              </optgroup>
              <input type="submit" name="submit" value="Go">       
            </fieldset>
          </select>
        </div>
  </form>

  <div class='header'>
    <h1>Whitney's Blog</h1>
  </div>
  <div class='header'>
    <h2>A New Developer Prattles</h2>
  </div>

  <div class='container'>
    <h3>Week 2 Post</h3>
    <div class='response'>Spaceholder text</div>
  </div> <!-- end of container -->
  <div class='container' role='note'>
    <div class='footer'>Site Design and Development by: Whitney-Rose Levis</div>
    <div class='footer'>Blue Bubbles photo by: Tim Fields</div>
  </div>
  </body>
</html>