<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <title>Whitney's Blog</title>
  </head>

  <body>
    <form action="/processing" role="navigation" class='response'>
      <div class='nav-selector'>
        <label for="navigation">Navigation</label>
          <select name='navigation'id="navigation">
            <fieldset>
              <optgroup label="navigation">
                <option value='about'>About Me</option>
                <option value='blog' selected>Blog</option>
                <option value='badges'>Achievements</option>
                <option value='projects'>Projects</option>
                <option value='picks'>Links & Picks</option>
                <option value='feedback'>Feedback</option>
                <option value='contact'>Contact Info</option>
              </optgroup>
              <input type="submit" name="submit" value="Go">       
            </fieldset>
          </select>
        </div>
  </form>

  <div class='header'>
    <h1>Whitney's Blog</h1>
  </div>
  <div class='header'>
    <h2>A New Developer Prattles</h2>
  </div>

  <div class='container'>
    <h3>Kitty Ipsum</h3>
    <div class='response'>
      <p>Sleep on your keyboard stretching lay down in your way leap chuf kittens, catnip catnip climb the curtains give me fish lick run. Puking jump rip the couch sunbathe jump on the table, sleep on your face attack shed everywhere claw leap litter box sleep on your face. Stuck in a tree meow sniff claw sleep in the sink, jump eat stretching bat sleep in the sink hairball. Scratched biting run sleep on your keyboard chase the red dot tail flick, biting chase the red dot sleep on your keyboard lick attack your ankles. Catnip feed me meow sleep on your face sunbathe, scratched run lay down in your way lick biting. Jump feed me run stuck in a tree kittens, rip the couch stuck in a tree claw sunbathe catnip stretching. Sniff litter box feed me give me fish litter box sleep in the sink, lick eat the grass lick litter box. Climb the curtains chuf attack run give me fish, kittens leap hairball sleep on your face tail flick jump.</p>

      <p>Attack your ankles scratched scratched jump puking stuck in a tree, feed me stuck in a tree judging you litter box. Litter box I don't like that food sleep in the sink sleep on your face, meow knock over the lamp knock over the lamp sunbathe litter box sleep on your face. Sniff jump judging you toss the mousie toss the mousie stuck in a tree, kittens attack your ankles claw run meow lick. Sunbathe judging you fluffy fur attack shed everywhere, knock over the lamp purr kittens judging you feed me catnip. Bat leap feed me toss the mousie, litter box chuf rip the couch attack your ankles leap run knock over the lamp judging you. Leap puking claw chuf, run eat eat the grass bat leap run sleep in the sink sunbathe. Run litter box meow jump lick lay down in your way, give me fish lick kittens kittens.</p>

      <p>Puking run lick puking catnip purr, hiss feed me biting claw purr. Shed everywhere knock over the lamp scratched litter box, stuck in a tree hiss feed me lay down in your way bat fluffy fur shed everywhere. Eat biting lick meow run, chase the red dot hairball fluffy fur puking hiss claw. Lay down in your way leap sleep on your face rip the couch chase the red dot hiss, kittens catnip sleep in the sink fluffy fur give me fish purr. Jump bat bat toss the mousie, litter box sniff stuck in a tree feed me zzz sleep on your face feed me. Hairball sleep in the sink rip the couch sleep in the sink fluffy fur, biting give me fish sleep in the sink chase the red dot claw bat fluffy fur.</p>

      <p>Stuck in a tree knock over the lamp lay down in your way bat kittens I don't like that food, sniff catnip meow chuf tail flick rip the couch. Leap sleep in the sink sleep on your keyboard puking, give me fish leap tail flick zzz give me fish biting shed everywhere. Attack your ankles sleep on your keyboard purr sunbathe scratched lick, bat I don't like that food jump eat. Purr rip the couch feed me meow rip the couch, zzz run hairball eat sleep in the sink. Puking attack your ankles attack your ankles eat the grass sleep in the sink chase the red dot, zzz judging you knock over the lamp litter box claw rip the couch. Bat sleep in the sink puking climb the curtains, eat the grass puking knock over the lamp bat leap tail flick lick tail flick. Tail flick stretching give me fish toss the mousie fluffy fur toss the mousie, lay down in your way jump on the table knock over the lamp sleep on your keyboard sleep in the sink eat.</p>

    </div>
  </div> <!-- end of container -->
  <div class='container' role='note'>
    <div class='footer'>Site Design and Development by: Whitney-Rose Levis</div>
    <div class='footer'>Blue Bubbles photo by: Tim Fields</div>
  </div>
  </body>
</html>