<h3>Where I hang out online</h3>
  <div class='response'>
      <h4>GitHub: <a href="https://github.com/roseaboveit">roseaboveit</a></h4>
        
      <h4>Twitter: <a href="https://twitter.com/roseaboveit">@roseaboveit</a></h4>
        
      <h4>Google Plus: <a href="https://plus.google.com/u/0/111767073783634894380/about">Whitney Levis</a></h4>
        
  </div>
