<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <title>Contact</title>
  </head>

  <body>
    <form action="/processing" role="navigation" class='response'>
      <div class='nav-selector'>
        <label for="navigation">Navigation</label>
          <select name='navigation'id="navigation">
            <fieldset>
              <optgroup>
                <option value='about'>About Me</option>
                <option value='blog'>Blog</option>
                <option value='badges'>Achievements</option>
                <option value='projects'>Projects</option>
                <option value='picks'>Links & Picks</option>
                <option value='feedback'>Feedback</option>
                <option value='contact' selected>Contact Info</option>
              </optgroup>
              <input type="submit" name="submit" value="Go">       
            </fieldset>
          </select>
        </div>
  </form>

  <div class='header'>
    <h1>Whitney-Rose Levis</h1>
  </div>
  <div class='header'>
    <h2>Contact Me</h2>
  </div>

  <div class='container'>
    <h3>Where I hang out online</h3>
    <div class='response'>
        <h4>GitHub: <a href="https://github.com/roseaboveit">roseaboveit</a></h4>
        
        <h4>Twitter: <a href="https://twitter.com/roseaboveit">@roseaboveit</a></h4>
        
        <h4>Google Plus: <a href="https://plus.google.com/u/0/111767073783634894380/about">Whitney Levis</a></h4>
        
    </div>
  </div>
 <!-- end of container -->
 <div class='container' role='credits'>
    <div class='footer'>Site Design and Development by: Whitney-Rose Levis</div>
    <div class='footer'>Blue Bubbles photo by: Tim Fields</div>
  </div>
  </body>
</html>