

  <div class='header'>
    <h1>Whitney-Rose Levis</h1>
  </div>
  <div class='header'>
    <h2>What do you think?</h2>
  </div>

  <div class='container'>
    <h3>Feedback Form</h3>
    <div class='response'>
      <form class='comments'>
        <!-- Name-Small Text Field -->
        First name: <INPUT type="text" name="firstname"><BR>
        Last name: <INPUT type="text" name="lastname"><BR>
        Email: <INPUT type="text" name="email"><BR>
        <!-- Rating-Radio buttons -->
          Quality Rating:<br>
          <label><input type="radio" name="rating" value="Awesome">Awesome</label><br>
          <label><input type="radio" name="rating" value="Great">Great</label><br>
          <label><input type="radio" name="rating" value="Good">Good</label><br>
          <label><input type="radio" name="rating" value="Okay">Okay</label><br>
          <label><input type="radio" name="rating" value="Poor">Poor</label><br>
          <label><input type="radio" name="rating" value="Awful">Awful</label><br>
        <!-- Comment-Textarea -->
          <TEXTAREA name="Comments" rows="20" cols="80" font-size="1.3em">
          I think...
          </TEXTAREA><br>
          <button type="submit">Submit</button>
      </form>
    </div>
  </div>
 <!-- end of container -->
