      <h3>About Me</h3>

      <div class='response'>
        <p>I'm a student at Ada Developer's Academy. I mostly code in Ruby at the moment and mostly through Rails. At this point my interests lie mostly in the backend, though I'm attempting to improve my skills on the front end as well. I am a social developer and you will likely see me at community events and on Twitter. I most look forward to my skills improving to a level where I will be able to contribute to some of the great open source projects out there. Perhaps I will even get around to starting some of my own.</p>

        <p>I'm most interested in making the world a better place. I think that software can be a powerful way to contribute to a lot of the solutions out there for some of society's problems. I have a background in education and often think about how to help others follow in my footsteps when it comes to skills development.</p>
      </div>