<!DOCTYPE html>
<html>
<head>
<link href="/css/main.css" media="all" rel="stylesheet">
<title>Whitney-Rose Levis</title>
</head>


<body>
  <div class='nav-selector'>
    <select name='navigation'>
      <option value='about'>About Me</option>
      <option value='blog'>Blog</option>
      <option value='badges'>Achievements</option>
      <option value='projects'>Projects</option>
      <option value='picks'>Links & Picks</option>
      <option value='feedback'>Feedback</option>
      <option value='contact'>Contact Info</option>
    </select>
  </div>

  <div class='header'>
    <h1>Whitney-Rose Levis</h1>
  </div>
  <div class='header'>
    <h2>Questions Answered</h2>
  </div>

  <div class='container'>
    <h3>Question 1:</h3>
    <h3>What is your favorite...?</h3>
    <div class='response'>I don't really have favorites. It's not how I'm wired. I have things that I like and dislike and while I can rank which things I dislike decently well, I struggle with ranking things I like. Selecting a favorite is related but even more challenging because it is picking the final victor in the favorite ranking exercise.</div>
    <h3>Question 2:</h3>
    <h3>Where are you from?</h3>
    <div class='response'>I've moved many times in my life but most of the time I've stayed in Northwest Washington. The notable exception is the three months I spent in San Francisco. Places I've lived include: Seattle, Anacortes, Chimacum, Irondale, Sequim, Port Angeles, Parkland, and Redmond.</div>
    <h3>Question 3:</h3>
    <h3>What inspires you?</h3>
    <div class='response'>There are many things that inspire me. I will come back to this question and add in all sorts of things that inspire me. Perhaps I will put in some books. Or perhaps I will name some of my favorite heros. Perhaps I'll talk about the strange effect of listening to Scroobius Pip.</div>
  </div> <!-- end of container -->
</body>

</html>