<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <title>Whitney-Rose Levis</title>
  </head>

  <body>
    <!-- Navigation Dropdown-->
    <form action="/processing" role="navigation" class='response'>
      <div class='nav-selector'>
        <label for="navigation">Navigation</label>
        <select name='navigation' id="navigation">
          <optgroup label="navigation">
            <option value='about' selected>About Me</option>
            <option value='blog'>Blog</option>
            <option value='badges'>Achievements</option>
            <option value='projects'>Projects</option>
            <option value='picks'>Links & Picks</option>
            <option value='feedback'>Feedback</option>
            <option value='contact'>Contact Info</option>
          </optgroup>
        </select>
        <input type="submit" name="submit" value="Go">
      </div>
    </form>

    <div class='header'>
      <h1>Whitney-Rose Levis</h1>
    </div>

    <div class='header'>
      <h2>Questions Answered</h2>
    </div>

    <div class='container'>
      
    <%= yield %><!-- This will inject all the content from individual pages -->
    <!-- Credits Footer -->
    </div>

    <div class='container' role='note'>
      <div class='footer'>Site Design and Development by: Whitney-Rose Levis</div>
      <div class='footer'>Blue Bubbles photo by: Tim Fields</div>
    </div>

  </body>

</html>