<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href="/css/main.css" media="all" rel="stylesheet">
    <title>Whitney-Rose Levis</title>
  </head>

  <body>

  <!-- Alternate Menu Bar *In Progress?*
  <div id='menuBar'>
      <ul id='nav-test'>
        <li class='navLink'>Menu</li>
        <li class='navLink'><a class='navLink' href="/about">About Me</a></li>
        <li class='navLink'><a class='navLink' href="/blog">Blog</a></li>
        <li class='navLink'><a class='navLink' href="/picks">Links & Picks</a></li>
        <li class='navLink'><a class='navLink' href="/contact">Contact Info</a></li>
      </ul>
    </div>
  -->
    
    <!-- Navigation Dropdown-->
    <form action="/processing" role="navigation" >
      <div class='nav-selector'>
        <label for="navigation">Navigation</label>
        <select name='navigation' id="navigation">
          <optgroup label="Select A Destination">
            <option value='about' selected>About Me</option>
            <option value='blog'>Blog</option>
            <!-- <option value='badges'>Achievements</option>
            <option value='projects'>Projects</option> -->
            <option value='picks'>Links & Picks</option>
            <!-- <option value='feedback'>Feedback</option> -->
            <option value='contact'>Contact Info</option>
          </optgroup>
        </select>
        <input type="submit" name="submit" value="Go">
      </div>
    </form>

    <div class='header'>
      <h1>Whitney-Rose Levis</h1>
    </div>

    <div class='titleHeader'>
      <p id='title'>Whitney-Rose Levis</p>
      <p id='subTitle'>Ever Developing Developer</p>
    </div>

    <div class='container'>
      <%= yield %> <!-- This will inject all the content from individual pages -->
    </div>

    <!-- Credits Footer -->
    <div id='siteInfo' role='note'>
      <div class='footer'>
        <p class='foot'><strong>Site Design and Development:</strong></p>
        <p class='foot'><strong>Whitney-Rose Levis</strong></p>
        <p class='foot'><strong>and</strong></p>
        <p class='foot'><strong>Benjamin Scheyer</strong></p>
      </div>
      <div class='footer'>
        <p class='foot'><strong>"Blue Bubbles" photo credit:</strong></p>
        <p class='foot'><strong>Tim Fields</strong></p>
      </div>
    </div>

  </body>

</html>