<h3>Things you should check out</h3>
  <div class='response'>
    <ul class='cleanList'>
      <li>Podcasts</li>
        <p>I love listening to podcasts when I'm walking and bussing from place to place. Great for consuming information when all other forms are inaccessible.</p>
        <ul class='cleanList'>
          <li>Ruby Rogues</li>
          <li>Good Job Brain</li>
          <li>Giant Robots Smashing into Other Giant Robots</li>
          <li>Ruby 5</li>
          <li>Smart Passive Income</li>
        </ul>
        <p></p>
      <li>Blogs</li>
        <p>I'm really bad about blogs. These are my classmates and I try to read their blogs because they are great and I learn so much from my peers</p>
        <ul class='cleanList'>
          <li>Elizabeth</li>
          <li>Christina</li>
          <li>Davida</li>
          <li><a href="http://liz-sinatra.herokuapp.com/blog">Liz</a></li>
          <li><a href="http://hhh-sinatra.herokuapp.com/home">Hsing-Hui</a></li>
          <li><a href="http://blake-sinatra.herokuapp.com/">Blake</a></li>
          <li>Sue</li>
          <li><a href="http://audrey-sinatra.herokuapp.com/">Audrey</a></li>
          <li><a href="http://dae-rails.herokuapp.com/">Shadae</a></li>
          <li>Melinda</li>
          <li>Asha</li>
          <li>Ellen</li>
          <li><a href="http://askimz-firstsite.herokuapp.com/">Anne</a></li>
          <li><a href="http://galina-sinatra.herokuapp.com/">Galina</a></li>
        </ul>
        <p></p>
      <li>Talks</li>
        <ul class='cleanList'>
          <li><a href="http://www.ted.com/talks/chimamanda_adichie_the_danger_of_a_single_story">Chimamanda Adichie: The Danger of a Single Story</a></li>
          <li><a href="https://www.youtube.com/watch?v=J4dlF0kcThQ">Katrina Owen: Therapeutic Refactoring</a></li>
          <li><a href="http://www.ted.com/talks/brene_brown_on_vulnerability">Brene Brown: On Vulnerability</a></li>
          <li><a href="https://www.youtube.com/watch?v=xJZrMbS2dDk">Sam Livingston-Gray: Fluent Refactoring</a></li>
        </ul>
    </ul>
  </div>
