<h3>Things you should check out</h3>
  <div class='response'>
    <ul>
      <li>Books</li>
        <ul>
          <li>Cloud Atlas</li>
          <a href="http://www.amazon.com/Cloud-Atlas-Novel-David-Mitchell/dp/0375507256/ref=sr_1_1?s=books&ie=UTF8&qid=1385597407&sr=1-1&keywords=cloud+atlas">Amazon</a>
          <a href="https://www.goodreads.com/book/show/49628.Cloud_Atlas?from_search=true">Good Reads</a>
          <li>Dune</li>
          <a href="http://www.amazon.com/Dune-Frank-Herbert/dp/0441172717/ref=sr_1_1?s=books&ie=UTF8&qid=1385597438&sr=1-1&keywords=dune">Amazon</a>
          <a href="https://www.goodreads.com/book/show/234225.Dune?from_search=true">Good Reads</a>
          <li>Ethics of Authenticity</li>
          <a href="http://www.amazon.com/Ethics-Authenticity-Charles-Taylor/dp/0674268636/ref=sr_1_1?s=books&ie=UTF8&qid=1385597489&sr=1-1&keywords=ethics+of+authenticity">Amazon</a>
          <a href="https://www.goodreads.com/book/show/37860.The_Ethics_of_Authenticity?from_search=true">Good Reads</a>
        </ul>
      <li>Music</li>
        <ul>
          <li>Janelle Monae</li>
          <a href="http://www.youtube.com/watch?v=lqmORiHNtN4">YouTube Video</a>
          <li>Scroobius Pip</li>
          <a href="http://www.youtube.com/watch?v=yEitrZU-nCw">YouTube Video</a>
          <a href="http://www.youtube.com/watch?v=CWrMGXwhFLk">YouTube Video</a>
          <li>Jerin Falkner</li>
          <a href="http://www.youtube.com/watch?v=mbyBGcA00-k">YouTube Video</a>
        </ul>
      <li>Movies</li>
        <ul>
          <li>Tangled</li>
          <a href="http://www.imdb.com/title/tt0398286/">IMDB</a>
          <li>White Nights</li>
          <a href="http://www.imdb.com/title/tt0090319/?ref_=nv_sr_1">IMDB</a>
          <li>Fantasia</li>
          <a href="http://www.imdb.com/title/tt0032455/?ref_=nv_sr_1">IMDB</a>
        </ul>
      <li>TV Shows</li>
        <ul>
          <li>Doctor Who</li>
          <a href="http://www.imdb.com/title/tt0436992/?ref_=nv_sr_1">IMDB</a>
          <li>Once Upon a Time</li>
          <a href="http://www.imdb.com/title/tt1843230/?ref_=nv_sr_1">IMDB</a>
          <li>Big Bang Theory</li>
          <a href="http://www.imdb.com/title/tt0898266/?ref_=nv_sr_1">IMDB</a>
        </ul>
      <li>Other Links</li>
        <ul>
          <li>The Hunger Site</li>
          <a href="http://thehungersite.greatergood.com/clickToGive/ths/home">Website Link</a>
          <li>Free Rice</li>
          <a href="http://freerice.com/#/english-vocabulary/1382">Website Link</a>
        </ul>
    </ul>
  </div>
