<h3>Things you should check out</h3>
  <div class='response'>
    <ul>
      <li>Books</li>
        <ul>
          <li>Cloud Atlas</li>
          <li>Dune</li>
          <li>Ethics of Authenticity</li>
        </ul>
      <li>Music</li>
        <ul>
          <li>Janelle Monae</li>
          <li>Amanda Palmer</li>
          <li>Scroobius Pip</li>
        </ul>
      <li>Movies</li>
        <ul>
          <li>Tangled</li>
          <li>White Nights</li>
          <li>Fantasia</li>
        </ul>
      <li>TV Shows</li>
        <ul>
          <li>Doctor Who</li>
          <li>Once Upon a Time</li>
          <li>Big Bang Theory</li>
        </ul>
      <li>Other Links</li>
        <ul>
          <li>The Hunger Site</li>
        </ul>
    </ul>
  </div>
