

  <div class='header'>
    <h1>Whitney-Rose Levis</h1>
  </div>
  <div class='header'>
    <h2>Stuff I'm working on</h2>
  </div>

  <div class='container'>
    Current Projects:
    <div class='response'>
      <a href="https://github.com/roseaboveit/Mastermind">Mastermind</a>
    </div>
  </div>
 <!-- end of container -->
