date: 2014-4-16

<h3>Railsbridge Alum</h3>
<h3>March 4th, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>

  <p>Railsbridge Alum, hosted by NIRD, is always a great place to go hang out, hack on things, help people with some easier ruby and rails issues and get help myself.</p>

  <h4>Who I met:</h4>

  <p>While I had already met Amy Hunter, I got closer to her. I also was happy to run into Utah there.</p>

  <h4>What I learned:</h4>

  <p>While I was helping Amy with her terminal and file system, I discovered that she didn't have an alias set up for opening her Sublime Text Editor. We worked hard and figured it out and now I have a slightly better understanding of aliases.</p>

  <h4>What I want to know more about:</h4>

  <p>This experience reminded me that I really do want to learn more about setting up my developer environment. There are a lot of things that good programmers do that I don't yet do. Those include key bindings and aliases and short cuts of various sorts. I liked starting out with these being limited so that I would know how to navigate other people's developer environments. Now is the time for me to start exploring this I think.</p>

</div>