date: 2013-12-10

<h3>Tech Alliance Holiday Party</h3>
<h3>December 10th, 2013</h3>
<div class="response">
  <h4>Why I went:</h4>
  <p>The party was something of a combination event for the Tech Alliance and Ada Developers Academy. It was a good opportunity to see more of the "behind the scenes" and to meet more people within our industry.</p>

  <h4>Who I met:</h4>
  <p>I met a lot of people. It is the first event where people seemed particularly interested in meeting us students and getting to know more about the program. As such it was less about who I met and more about having been met by others. There were great conversations everywhere and in general a grand old time.</p>

  <h4>What I learned:</h4>
  <p>I learned quite a bit about networking. To learn about networking one has to have an environment to practice that is both realistic and also low-stress. This event was good for that. There were enough people that I knew personally and enough people who were interested in what Ada was about that we could float between contexts and have many successful conversations in a short span.</p>

  <h4>What I want to know more about:</h4>
  <p>I would like to continue learning to network. It seems like it will get easier as I have more industry related topics that I can talk about with some authority and personal projects that sound interesting. Being able to socialize in completely foreign contexts is where I'd like to be able to operate eventually.</p>
</div>