date: 2013-12-11

<h3>Beer && Code</h3>
<h3>December 11th, 2013</h3>
<div class="response">
  <h4>Why I went:</h4>
  <p>I have been wanting to check out this event for a while. It is held at the Substantial office. I had been to the location for Seattle.rb but was interested to see how the feel would change with a more relaxed event structure. December being a hectic month I also needed something that would allow me to work on code and prioritize that over networking.</p>

  <h4>Who I met:</h4>
  <p>I didn't meet that many people. I was only able to stay for a short time but Blake introduced me to her friend and we had a grand ol' time just talking and coding.</p>

  <h4>What I learned:</h4>
  <p>The purpose of my visit on this occasion wasn't strictly learning. I mostly wanted to check out what the feel of the space was and whether I would be able to go and code there in the future or whether it would be more of a social space. I learned that I can probably code there, at least on things that are relatively straight forward. I think that it is also a space where I could meet new people and perhaps even collaborate.</p>

  <h4>What I want to know more about:</h4>
  <p>I want to go back to this event when I am not stressed out by a project just to see what the social dynamic can be like.</p>
</div>