date: 2014-3-21

<h3>Dynamic Javascript Pictographs</h3>
<h3>Technical Blog Post</h3>
<div class="response">
  <p>A while back I made a cool little graph in Javascript. I thought it was pretty clever and while I took way too long to derive the formula, I thought the process was a good one to share with others. My background is in Mathematics. Despite what you may have learned in school, it isn't so much about memorizing things as it is about puzzling through them. The same strategies I used when solving proofs were the ones I employed while making my dynamic pictograph in Javascript. Since not everyone has had the advantage of getting a BA in Math, I decided to share my general process with folks.</p>

  <p>The original idea was to display a dynamic pictograph that would maintain the same canvas size but change the icon size and placement based on how many icons were needed. I chose to do this because I thought it would be neat to show how many page views per visit were average for the site I made.</p>

  <p>The first step of the plan was to play. This may sound silly but sometimes you just have to jump in and throw numbers and pictures around until you get a sense of the landscape. After a while of drawing pictures, throwing out ideas that seemed too crazy, I picked a scheme that seemed reasonable and aesthetic.</p> 

  <p>I then made a table of numbers. This table compared the number of icons total to the number of ways that I needed to divide the canvas horizontally and vertically to have the appropriate number of cells for the icons to go into.</p>

  <p>Once I had a table I got to play again. I pulled out all the basic operations that I knew in order to try to find patters in the numbers. You have to be willing to play with them. See how you can add, subtract, multiply, divide, take a square root or square something. By extending the table to an extraordinary level I could see the patterns much more clearly.</p>

  <p>If you are interested in more details of the project you can look at my <a href="https://docs.google.com/presentation/d/1w2K9MEg6FSqLsSSxp37Rhi9xJgDsbEUuMKJUoVdyRZw/edit#slide=id.g2af9b9db8_0111">presentation notes</a> and my code on <a href="https://github.com/roseaboveit/classy_vote/blob/master/app/assets/javascripts/pg_v_p_v.js">GitHub</a></p>
</div>