date: 2014-2-28

<h3>Reflection and Out with Sam Livingston-Gray</h3>
<h3>February 28, 2014</h3>
<div class="response">
  <p>I've been a bit behind on reflection lately. Reflection takes time and space that I just haven't been able to set aside. Reflection is extremely important however. It is how we internalize our experiences more deeply which allows us to easily reference them later. We remember more of what we write about and I intend to be better at setting aside time for reflection in the future. Here I am in early April writing a reflection on an event I went to in February. The truth was I couldn't remember what other events I went to in February. I looked over the notes for <a href="http://roseaboveit-first-sinatra.herokuapp.com/blog/Feb_event_1">Seattle.rb</a> and <a href="http://roseaboveit-first-sinatra.herokuapp.com/blog/Feb_event_2">Railsbridge Alum</a> and recalled February as being an extremely full month with seemingly non-stop events. Yet as I sit here I cannot recall any of them except for the social outing that Ada took with Sam Livingston-Gray after class. This bit of reflection reminds me of two things. First, it is important to only add as many events as I can actually take the time to process. Second, <a href="https://twitter.com/geeksam">Sam Livingston-Gray</a> is awesome!</p>

  <h4>Why I went:</h4>

  <p>I went because I enjoy connecting with people, but especially people who excel in matters that I hope to excel at as well.</p>

  <h4>Who I met:</h4>

  <p>Sam invited a couple of his local friends out who work at Microsoft. It was useful to get their perspective on the tech industry in general.</p>

  <h4>What I learned:</h4>

  <p>This one is hard to answer. I feel like when I am around people I want to emulate I better understand how to be human, which is to me about being agile. Agile is about enabling humans to do what humans do best, while letting computers and technology do what they do best.</p>

  <h4>What I want to know more about:</h4>

  <p>I hope to continue my analysis of Agile and principles of humanity and to integrate these principles into my life. I hope to continue building my skills at learning from the nature of humanity in others around me.</p>

</div>