date: 2014-2-04

<h3>Seattle.rb</h3>
<h3>February 4th, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>

  <p>Seattle.rb is a regular event for me. It always has some parts that go over my head but also provides a good opportunity to see how much more I understand with each passing month. I go to this event for the community, and knowledge. This particular month I also presented a lightning talk on my process of figuring out my Javascript solution for displaying a dynamic pictograph of average page views per visit.</p>

  <h4>Who I met:</h4>

  <p>I did meet a couple of new people. There was a fellow who was a new Code Fellows student. It was good to connect with him. Additionally I had Dusty from Simply Measured come up to me and discuss my presentation and interest in visually displaying graphs. One of the things that he mentioned was that a lot of the work that has been used to develop how to display things with Actionscript can be used to conceptualize the way things could be done in Javascript. He recommended the book <a href="http://www.amazon.com/gp/product/1590594290?ie=UTF8&camp=213733&creative=393177&creativeASIN=1590594290&linkCode=shr&tag=dusty0b-20&qid=1391587352&sr=8-1">Flash Math Creativity</a> as perhaps a good book to explore these general concepts.</p>

  <h4>What I learned:</h4>

  <p>In addition to the conversation with Dusty. I also learned quite a bit from the other presentations at the event. Many of the presentations were actually done by Ada students. One that wasn't though was all about encodings. It makes sense that encodings are a big topic with a rich and complicated history. It was great to get a sense of it. It was also interesting to see the controversy that broke out. There seemed to be some really strong opinions about it. Definitely something to look into in the future.</p>

  <h4>What I want to know more about:</h4>

  <p>As mentioned previously, I am interested in looking into the general concepts that were explored in actionscript implementation that could be helpful for me to conceptualize posibilities for visual representations in Javascript. I'm also interested in learning more about the history of encodings and getting a better sense of how I will run into it and how I can make future co-workers not irritated with me for potential missteps in this area. I'm also interested in learning more about Elizabeth's Twitter bots. They seem like fun.</p>

</div>