date: 2014-2-19

<h3>Railsbridge Alumni Study Group</h3>
<h3>February 19, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>

  <p>I've really enjoyed the Railsbridge group at NIRD. It has become one of those events that I see myself going back to time and again. I particularly enjoy the diversity. We have people who have only just finished Railsbridge all the way through people who are awesome professionals in the field. This diversity makes it a great place to hack.</p>

  <h4>Who I met:</h4>

  <p>I met several people but a couple in particular were Kathy Pelish from Salish Sea Trading and Ashley Caroline who is a long time professional in Small Talk who has been leveling up her Ruby on Rails skills. Kathy discussed her goal to get a Rails group together to get an app for their organization modeled off of a Food Hub rails app made in Australia. I told her I was unaware of whether I had the time to contribute but I would consider it.</p>

  <h4>What I learned:</h4>

  <p>I think one of the biggest things I learned was about some of the difficulty of talking with non-technical folks. I correctly determined that mapping things out on the whiteboard would be helpful. At the end I got a sense of the app she was looking for. Enough to tell that it is a relatively large project given that it was difficult to get specifics of the ask nailed down.</p>

  <h4>What I want to know more about:</h4>

  <p>I want to know more about how to best interact with clients to get their very vague asks to become clear. Is it best practice to take a stab at it and then ask for confirmation, or is it better to try to continue reframing the question to try to get it solely in the client's own words? Interesting things to research further if I end up doing contracting at any point.</p>

</div>