date: 2014-1-07

<h3>Seattle.rb</h3>
<h3>January 7th, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>
  <p>This is a great event for learning things. I've been in the past and felt like it was a good event to repeat.</p>

  <h4>Who I met:</h4>
  <p>On this particular occasion I was extremely exhausted from class and couldn't really get myself to socialize much. I did talk with one of the organizers about what sorts of things would be good for a newbie talk. I want to get practice talking in front of people and gauging an appropriate topic would be helpful. Socially, I mostly just connected with people I knew. Amongst the Adies we were trying to egg each other to do a lightning talk. Perhaps next time. I also connected with my friend Ashleigh from Simply Measured. She introduced me to her coworker, Alpha. We didn't get much of a chance to talk though.</p>

  <h4>What I learned:</h4>
  <p>There were two really great talks at this meeting. The first was by Aaron Patterson (aka tenderlove). He spoke about a project that he was working on to categorize his magic cards. The second was by Dave Laird (aka kiwiupover). He spoke about the trajectory of EmberJS in 2014. Both of these talks were jam packed with information that I took down frantically in my notes for perusal later.</p>

  <p>From Aaron's talk I took away a greater sense of how to break big projects down into smaller pieces, each with their own responsibilities. I also learned the term "cargo cult" and got a sense of just how much magic and hand-waving are involved with trying to make cool things that are new.</p>

  <p>From Dave's talk I felt I got a better understanding of Javascript and what it can do. I also better understand the situation between EmberJS and AngularJS. It was also nice to get an update on what people in the EmberJS are doing to make the technology better.</p>
  
  <h4>What I want to know more about:</h4>
  <p>I look forward to when I will be able to understand more of these rigorous talks. I want to know more about Javascript integration with Rails. There was a lot I want to know more about with Aaron's talk but at a more approchable level I think I want to know more about I/O and Hamming.</p>

</div>