date: 2014-1-15

<h3>Railsbridge Alumni Study Group</h3>
<h3>January 15th, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>
  <p>It was recommended by a staff member at Ada and seemed like it might be a good event for connecting with a greater diversity of programmers as far as skill level. It also seemed like a good place to perhaps get some classwork done at the same time.</p>

  <h4>Who I met:</h4>
  <p>I ran into Utah for a second time. I originally met her at Ada after hours. I also met Lessa, another beginner. I had a great time connecting with them and helping them understand parts of their suggestotron project better. I also met several other people whose names I have forgotten but also met some of the staff at NIRD. Rene in particular was incredibly welcoming and very accessible. She came over and helped with issues when we asked and even ran an AngularJS introduction for us at the end.</p>

  <h4>What I learned:</h4>
  <p>I learned a bit about AngularJS and we had conversations about rails under the hood and how it interacts with other programs and with hardware. While I don't recall much of this conversation it felt like the sort of thing where increased exposure will lead to increased understanding eventually.</p>
  
  <h4>What I want to know more about:</h4>
  <p>The introduction to AngularJS was really interesting and I look forward to exploring it more later.</p>

</div>