date: 2014-1-22

<h3>Geek Girls Carrots</h3>
<h3>January 22th, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>
  <p>The leader had introduced the idea at Seattle.rb and I had been confused and was interested in figuring out what it was all about. I also found it convenient that it was going to be located at Ada.</p>

  <h4>Who I met:</h4>
  <p>I met a lot of people, though I have forgotten many of their names. It was good to reconnect with Colette and to meet Kamila Stępniowska, the founders of the event. There were also several attendees who were looking at applying to Ada. It was fun to chat with them at the gathering after the event.</p>

  <h4>What I learned:</h4>
  <p>Kerri gave a great talk about code metrics which allowed me to better contextualize the concept.</p>
  
  <h4>What I want to know more about:</h4>
  <p>I'm looking forward to using more code metrics and developmer metrics in general. I like numbers and using measurements. At this point it is hard to develop a good sense of what I need to do because I'm still so new to coding and just getting something that works is so difficult.</p>

</div>