date: 2014-3-04

<h3>Ada Open House</h3>
<h3>March 4th, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>

  <p>It seemed like a good opportunity to mingle with people who are coming up behind us and also to interact with people in the industry.</p>

  <h4>Who I met:</h4>

  <p>I actually ran into a couple of people from my alma mater. It was very interesting. Additionally there were several women who were there to learn more about Ada and I had a good time answering their questions.</p>

  <h4>What I learned:</h4>

  <p>There was a presentation about Big Data which was rather surface level but helpful for getting my bearings on the topic. Then there was a deep presentation on Hadoop which I didn't really understand at all. But I got some key words and next time it crosses my path I'm sure it will make more sense.</p>

  <h4>What I want to know more about:</h4>

  <p>Hadoop would be interesting to know more about. It isn't a pressing desire though.</p>

</div>