date: 2014-4-01

<h3>Culture Fit Panel</h3>
<h3>April 1st, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>

  <p>Since we are interviewing with various companies as part of the preparation for the internship and the only interviews I've ever done have been solely for money and not really for fit, it is helpful to get more information.</p>

  <h4>Who I met:</h4>

  <p>In addition to the folks I already had met, I met Serene.</p>

  <h4>What I learned:</h4>

  <p>Oh my goodness, so much. I actually have a rough transcript for it which people can <a href="https://www.evernote.com/shard/s340/sh/ee9d6a41-72dc-4109-98d0-86f23898c29f/b0290f86da728941ae794baa06d7961d">read</a>. Mostly I got a good sense of the amount of power I have as someone coming into the field to be picky and find a place that will suit me well. In this knowledge, problem-solving, creative, team-based, craft-work, there are a lot of aspects that are important. If I'm not a little picky about it, it will actually be a red flag.</p>

  <h4>What I want to know more about:</h4>

  <p>I want to know more about the skill of negotiation when it comes to figuring out compensation. I want to know more about how to help with demographic issues in tech.</p>

</div>