date: 2014-3-04

<h3>Seattle.rb</h3>
<h3>March 4th, 2014</h3>
<div class="response">
  <h4>Why I went:</h4>

  <p>Seattle.rb is always a great event. I always learn a lot whether it is information that I can directly access or stuff that is for exposure so that things will make sense later, it is a great event for everyone.</p>

  <h4>Who I met:</h4>

  <p>I did meet a couple people. I'm really bad with names but I handed out my card to a couple of newbie developers that were learning in their spare time.</p>

  <h4>What I learned:</h4>

  <p>There were several great talks this time. One of my favorites was Aja. She gave a talk on Scheme and functional programming. It was a real whirlwind of a talk but really sparked my interest in learning more.</p>

  <p>There was also a talk on how versioning numbering works which was helpful information. There was a talk that was a check in from a group working on nand2tetris which sounds like fun. There was a call for help with the Seattle.rb site which I really do want to get involved with. And there was a lightning talk from someone who discussed how much of his work at a new job he just took has been to rip out huge sections of the code base.</p>

  <h4>What I want to know more about:</h4>

  <p>Definitely Scheme and functional programming. Additionally nand2tetris looks interesting.</p>

</div>