date: 2013-11-12

<h3>November Event 3</h3>
<h3>Code for Seattle</h3>
<div class="response">
  <h4>Why I went:</h4>
  <p>One of my classmates, Christina, chose this as one of her community meetings for November. She had been to Code for Miami and was interested in seeing what the Code for Seattle group was all about. All I knew was that they work with civic hacking. This seemed right up my alley as well I went to check it out.</p>
  <h4>Who I met:</h4>
  <p>I met several people though I'm not terribly great with names. Seth and Kevin did a good job of welcoming us in. There were also other visitors to Code for Seattle from the Sunlight Foundation. It was great to meet Alisha Green and hear about her work encouraging principles of open government. There was also a man there from the activist angle. He was just there to check it out as well but got swept up in our discussions with Alisha as well.</p>
  <h4>What I learned:</h4>
  <p>Code for America is an overarching organization. It has local brigades throughout the country which work on solving problems in their communities. The Seattle organization is working on a wiki. One project they mentioned that they would like us to work on is to make a ruby API wrapper for the local wiki. I'm still not at a place where I even really know what he is asking for. I definitely don't yet have the skill to help. I have faith that in time I could really help out with this community.</p>
  <h4>What I want to know more about:</h4>
  <p>I want to learn more about other projects that have been done by Code for America brigades. Christian mentioned some projects that she knew about from elsewhere. I particularly like the one that was like One Bus Away only it worked with SMS. This is important because many </p>
</div>