date: 2013-11-04

<h3>Seattle.rb</h3>
<h3>November 4th, 2013</h3>
<div class="response">
<h4>Why I went:</h4>
<p>I wanted to check it out, to see how the event would go and perhaps learn things and/or meet people.</p>
<h4>Who I met:</h4>
<ul>
<li>I met someone that I had already known through a friend. Susan is a member of Code Fellows.</li>
<li>I also reconnected with a woman I hadn't seen in a while. Ashleigh.</li>
<li>While I didn't really connect with anyone else at the event I feel like in the future I would be able to talk with people who gave presentations.</li>
</ul>
<h4>What I learned:</h4>
<p>There were many things to learn and I'm not sure I picked up anything particularly solid. I learned that there are some potential security issues to consider with github and keys and repositories. I learned that Amazon has some tools to help with asynchronous work. I learned a bit about the Set class I was reminded that there are many different niches that really need to be dragged into the 21st century. I learned that Ruby is really easy to use things other people have made to make Ruby better. I feel like there are other things as well. Right now it is difficult to process it all.</p>
<h4>What I want to know more about:</h4>
<p>There were many topics covered and I'd love to understand all of them. These things will have to come with time though. One piece I'd like to know more about is scope. "Out of scope" was important to one presentation and scope has been mentioned briefly in class.</p></div>