date: 2013-11-05

<h3>Minecraft</h3>
<h3>November 5th, 2013</h3>
<div class="response">
<h4>Why I went:</h4>
<p>I found out about this event on the KCLS twitter feed. I have played some minecraft and have been particularly interested in >the effect it appears to be having on how people see entertainment and hobby. It seems to be having an interesting effect on >youth as well.</p>
<h4>Who I met:</h4>
<p>Daniel Goldberg and Linus Larsson. These men are journalists from Sweden who tend to write about tech and video games and are >particularly interested in how these things affect society.</p>
<h4>What I learned:</h4>

<p>One thing they talked quite a bit about was the workplace history of the founder, Markus. He started at a job making games but the company was not interested in his ideas so he pursued it as a hobby. He was later offered a job at Valve but chose to focus instead on Minecraft. At this point he is not programming with minecraft but is on the board that makes decisions about the game and company business affairs.</p>
</p>Minecraft was formed really organically. It has raised interesting questions about the art and culture aspects of game making as much as the business end of things. One distinction that was made was that this was not just a game but a platform. It is as much if not more like facebook than it is like a video game. A video game is to be played. Facebook is to interact with your friends. Minecraft is interacting with your friends to build something.</p>

<h4>What I want to know more about:</h4>
<p>There was an interesting question asked about the mod-ing community. Why would they do this for a game they bought? This is especially curious when they get no monetary reward but the umbrella company does. One statement that was made was that the same is true of facebook. Facebook makes its money by users sharing content. This leads to the next logical question of what causes people to want to engage with a platform to provide content.</p></div>