date: 2014-7-31

<h3>Starting in Open Source</h3>
<div class="response">
  <h3>What was appealing about projects?</h3>

  <p>It is great to think that the contributions I make will make things better for others. It is especially good to think that I will be able to make things better for people like me who are coming up behind me. It is a way to give back to all the projects that have helped get me to where I am today.</p>

  <h3>What made the search difficult?</h3>

  <p>There are several things that make the search difficult. The open source software landscape is large. It is currently hard to judge my own competency. Jumping in is emotionally difficult. Lack of scaffolding triggers feelings of impostor syndrome.</p>
  <p>The vastness of the landscape of open source development is quite daunting. There is so many different projects to work on and there are so many needs for each project. It can be pretty overwhelming. I suffer from analysis paralysis from time to time and with such a broad landscape it can be really hard to choose where to even start.</p>

  <p>Since we have to have something deliverable with very little class time, it is important that I pick a project that has something small enough that I can work on and be successful. Preferrably, a project that also has bigger pieces so I can grow into confidence in the project over time, warming me up to the feelings of sufficient adequacy in open source contribution in general.</p>

  <h3>What project(s) are you planning to contribute to, and why?</h3>
    
  <p>When I was trying to learn on my own before Ada, I used a website called HabitRPG. This site allowed me to gamify my productivity measurements. It provided some motivation in a time that was hard to be motivated through. I want to give back to this project to keep making it better for future people trying to maintain the motivation to make progress in various areas of their lives.</p>

  <p>Some other factors that led me to pick working on HabitRPG is that it is really supportive of new contributors. This will help me feel confident to move forward creating scaffolding for myself as I start by picking small bugs and then expanding as I get comfortable with the code base. I also picked it because it uses Javascript. I have done very little with Javascript, most of my classmates have had a greater foray into that stack. I look forward to learning some more Javascript through this project.</p>
</div>
