date: 2013-11-02

<h3>Week 1 Reflection</h3>
<h3>Ada Developers Academy</h3>
<div class="response">
  <p>Week 1 has been a whirlwind. It is an ambitious goal to get ready for an internship in 6 months and the staff is hitting the ground running. It is now Saturday and it feels like I started a month ago. So it is now time to sit back and reflect a bit about what just happened.</p>

  <ol>
    <li>Firstly this is my first week using a mac. It has been a bit of a learning process as most people know how to navigate around the user interface pretty smoothly and I'm used to more of a windows setup. It still feels pretty foreign to me. Luckily….</li>
    <li>There is a command line. I know where the terminal is and how to work with it. In such a short time I learned how to use it well enough that it is more smooth and intuitive than the general mac user interface. I feel really powerful wandering around my computer using the terminal and looking at all the pieces exactly as I want to.</li>
    <li>Two of the big uses we've seen for the terminal besides navigation has been irb and git. It has been nice to use irb to be able to play with ruby code so quickly. And then there is git, it is intense and powerful, I actually kinda like it though I still have a lot of work to do to get proficient beyond the basic level. Git immersion has been helpful and since we will be using Github to submit our assignments I think it will all come together pretty quickly.</li>
    <li>Ruby and Rails. Most of what we've been learning are the basics of Ruby but we've been also going from small picture to big picture to small picture again. One of those big picture moments was going through the RailsBridge curriculum.</li>
    <li><p>Saving the best for last, I want to tell you about my Calculator. We were given a basic calculator program and then basically given free reign to add functionality all afternoon. We were given some recommendations and brainstormed some more and just let loose. This was Wednesday so it is day 3, where day 1 was almost all just installing things. It was amazing what we could do with such limited knowledge. I'm excited to see that capacity grow.</p>
    <p>In addition to adding more basic functions I took on some harder problems. The most interesting problem that I took on was to figure out how to let my calculator operate in floats but not display the .0 if the number was an integer.</p>
    <p>My calculator can still use a lot of work. I'm looking forward to testing it and finding the pieces that aren't quite working as designed so I can fix them. I'm also excited to refactor and make it more elegant and easy to read now that I have 2 days more knowledge than I did on Wednesday.</p></li>
  </ol>

  <p>If you want to check it out, I actually put it up on Github. Feel free to follow me there and watch me progress as a developer. I'm also learning to use Twitter so feel free to check out my journey there with more updates.</p></div>