date: 2013-12-07

<h3>Week 6 Reflection</h3>
<h3>Ada Developers Academy</h3>
<div class="response">
  <p>This week was a rough one for me. I was sick on Tuesday and Wednesday. In such a condensed learning schedule two days can be a long time. This week was also starting Rails. Stepping up from Sinatra to Rails has been a rough transition but an exciting one. Rails is such a powerful framework.</p>
  <p>On Friday, Sue and I were attempting to add a search feature to our project. We called Bookis over to check our understanding of how we could reference the right databases and access and show the right information. He got that smile he gets when he is happy with the logic but knows of a powerful and more efficient way to go about it. As he showed us a single line of code that could access and return all the information we wanted, I was awestruck by the sheer power of Rails.</p>
  <p>Given that we are 6 week old programmers it was really exciting to pair program remotely for the first time. We tried to keep the communication flowing. We decided to split the roles so that we wouldn't step on each others toes with git merge conflicts. I took on the role of working on writing RSpecs. I really appreciated some of the online resources I was able to find, including <a href="http://everydayrails.com/2012/03/12/testing-series-intro.html">Everyday Rails</a>. One thing I learned this week was that I must remember to check the dates on online articles. Several times the information we found was outdated.</p>
  <p>Next week will be rather exciting: a holiday party on Tuesday, sponsoring companies coming in on Thursday, and guest speakers. In addition we are going to be starting on bigger group projects.</p>
</div>