date: 2014-1-17

<h3>Week 9 Reflection</h3>
<h3>Ada Developers Academy</h3>
<div class="response">
	<p>This blog is late and for that I apologize. Instead of fudging the dates though I'm just going to complete all the blog posts I want to do in one long weekend, starting with the most behind. I have quite a few I want to write so be ready for some reading.</p>

	<p>Week 9 was all about really understanding Rails. Rails is big and there are lots of pieces and lots of magic. Much thanks to the Rails Team past and present who have made the work I've been doing possible. It is truly remarkable to me that I was able to make such interesting sites before I understood how any of it really worked. It is a testament to the skill with which Rails was constructed. Week 9 though was about moving past a lot of that magic and getting down to the details.</p>

	<p>I'm a depth-first learner more than a breadth-first learner in general though I can cope with either approach. Up until this week it has been breadth first. Every week new topics and things to use, play with and try to understand just well enough to get it working. This week however we got to really delve. We were given a sample site to recreate but it wasn't so much about recreating the site as it was understanding everything that went into creating the site.</p>

	<p>A major tool in this process was the better errors gem. With this gem we could raise an exception anywhere we wanted and then from the browser look at what the state of the app was. We could look inside things that were previously fairly magical like params and request. This really helped solidify our understanding of how information flows through various parts of Rails.</p>

	<p>I'd say that the best part for me was really understanding routes. I had been ill when they were first introduced so they had previously seemed even more magical than they had to most. Then in our group project, I had to use some uber magic with routes to get my categories to work right with our products model. Finally in week 9 I was able to sit down and really understand how routes work when they are accessed, what they access, and what information is passed along.</p>

	<p>This has been the reflection update for Week 9. It has been a great week and was a great way to come back from break. There will also be a technical post coming shortly to give beginners a better understanding of rails routes.</p>
</div>