date: 2013-11-23

<h3>Week 4 Reflection</h3>
<h3>Ada Developers Academy</h3>
<div class="response">
  <p>Today was a whirlwind of a week and I'm not even sure I really understand what all happened. Here are some major highlights though.<p>
  <ol>
    <li>RSpec and TDD</li>
    <li>Big Data Conference</li>
    <li>Networking</li>
    <li>Sinatra</li>
    <li>Databases</li>
  </ol>
  <p>The Big Data Conference really broke up the week and made me forget that RSpec and TDD was this week, not last week.</p>

  <p>With how long the week has been, I'm finding myself more tired than I have been in past weeks. I don't really want to go into the ins and outs of all the things that happened but instead focus on the pieces I find the most shiny.</p>

  <p>First, RSpec and TDD. I'm really excited about Test Driven Development. The approach of setting up tests and making them pass has helped me break things down into smaller pieces and stop stressing about solving the whole problem all at once. It also helps me to come up with different solutions than I was coming up with before, which I find rather interesting. I think that using TDD I've also been solving problems faster. This seems counter-intuitive as I am constantly just doing one tiny piece and then checking the errors all the time. I think that it is good for my motivation and momentum.</p>

  <p>Second, Sinatra. Sinatra is interesting. I remembered a little bit from the RailsBridge activity we did our first week that building the sinatra site reminded me of pieces of the RailsBridge. I liked seeing some continuity in what files we used and how different files looked. I feel like I need a lot more practice with it.</p>

  <p>Third, Databases. I actually really enjoyed the presentation on databases. I find them interesting and easy to follow. We were using SQLite3 and were shown documentation that can help us to build valid statements with it. I found it incredibly logical and easy to follow. It is nice to have something that just kinda makes sense after struggling with Sinatra for much of the week.</p>
</div>