date: 2013-11-09

<h3>Week 2 Reflection</h3>
<h3>Ada Developers Academy</h3>
<div class="response">
  <p>We have successfully made it through another week at Ada Developers Academy. It has been quite a whirlwind but I will attempt to summarize some of the biggest pieces.</p>

  <p>On Tuesday we went to Seattle.rb at the Substantial office. This was a lot of fun. We got to hear a bunch of presentations that went over our heads as week old developers. It was great to see the range of talent though. Some people where relatively new to development, part of an 8 week bootcamp. Others had been working in the industry for a while and provided deeper technical presentations. All of them were fascinating. It reminded me of my time at PLU when I would go to the Math Seminar presentations when I was still pretty new to math. I think there is a lot of value in struggling with concepts that are way above your head and just trying to grasp at the pieces you can reach of the overall talk.</p>

  <p>On Thursday it was the Ada Academy's turn to host. We had people come to the classroom and check it out. People pulled out computers and worked on projects. It was good to meet some other people who were learning to code. If you want to learn to code or just want to work on some projects, come by on Thursdays, it would be great to meet you.</p>

  <p>In the classroom much of the week was spent on classes and the objects they make. We wrote programs wehre objects could interact with one another and even played around with some object inheritance. The other thing we started learning about were gems. I'm really excited to learn more about them and try out new ones.</p>

  <p>As far as projects go my favorite by far was making a game of Mastermind. I really enjoyed that game as a child and had a lot of fun crafting my own version. I think I may keep the structure the same even though it isn't tru to the real game. In the original game you get a limited number of rounds to guess the opponent's code. The winner is determined by who is able to figure out their opponent's code the fastest. My program works differently. You have unlimited chances to figure out the code, and so does your opponent on their turn. At the end of the game everyone wins. It may sound trite but I think that sometimes it is nice to just receive recognition that you figured out a hard thing and the game of Mastermind is by no means trivial. So, what once started out as a simplistic form for starting out a program may actually remain as my chosen game design. I will be working on making a better display however.</p>

  <p>I also made an Orange Grove I'm particularly proud of but it is not really exciting to anyone other than me so it gets no more than a passing mention here other than I am particularly proud of being able to cut down dead trees which involved looking up a value for a key in a hash in an array and then conditionally selecting those hashes with the right values for the keys and deleting them from the array.</p>

  <p>I have never been terribly great at blogs. A big part of that is that I don't really know what people want to hear about if I don't see them or hear from them. So if there are things you are particularly interested in hearing about, please leave a comment. Thanks.</p>
</div>