date: 2013-11-29

<h3>Week 5 Reflection</h3>
<h3>Ada Developers Academy</h3>
<div class="response">
  <p>This is Thanksgiving week. Happy Thanksgiving everybody. This week has been a short week so we started learning html and css and extending our use of Sinatra. This site is the result of this week's work.</p>

  <p>This week has been a bigger challenge for me than previous weeks. I have just enough design sense to know that I am struggling to create elegant designs. The purpose of this site is not perfection though. It is for practice. As I learn more things I can apply them. I'm excited that there are so many tools these days. While we didn't use Twitter Bootstrap for this site. I'm excited to learn about all the general design power it can provide.</p>

  <p>Next week will be our first solid jump into Rails. We did Railsbridge our first week as just a general overview of what we would be making long term. I'm excited to finally have enough of the basics to jump in to learning Rails.</p>

  <p>I'm spending Thanksgiving with my family. I find it interesting trying to express what precisely I'm learning at Ada. One of the women at thanksgiving spent many years working as a network administrator. Other than that there is little shared context to start the conversation besides being internet users. One of my friends here used to be a roommate of mine. She is currently studying philosophy. I've been trying to express the power of programming by discussing the differences between classes and instances and the philosophy of test driven development and the little bits I've learned about agile. These have been the more productive conversations. I really am a philosopher at heart.</p>

  <p>My highlight for the week would have to be getting a chance to know Devon better and getting a start at learning about making accessible websites. Accessibility is a big thing in my mind. I want anything I work on to be as accessible as possible. I know that Devon's presentation was just the tip of the iceberg. I also though that my coding skills are not yet sufficient to apply all the techniques she discussed but it is a start. It is like everything else we have been learning. It is an ever expanding world with always more to know.</p>
</div>