date: 2013-12-15

<h3>Week 7 Reflection</h3>
<h3>Ada Developers Academy</h3>
<div class="response">
  <p>Week 7 has been very long and diverse. I will get into all of that in a minute. In the meantime I want to get a bit meta with you all. These blog posts are sort of assigned. Every week we are supposed to blog. This is for good reason. Many really great developers have blogs and many developers read and reference them to learn new things quickly and to feel a greater sense of the wider community. This is awesome. On Friday, Elise tried to expand our understanding of the blog by saying "You know that the blogs don't need to be about your feelings." While this is good advice because blogs can be so much more than that, it felt like a bit of a judgment against those who want to have a consistent feel to their blog as a place of support for Ada students who come up behind us and a vicarious experience for those who are not fortunate enough to be accepted but want to try to follow our footsteps at home. It is true that a technical blog will also help the learners at home but as someone who has been a learner at home, I am aware that the needs of these learners is quite diverse. All this is to say that I will continue to do these reflections. I consider them to be valueable for myself and for fellow asipiring developers. I will also, however, take on the challenge of writing up technical blog posts. They will be interspersed between the weekly reflections and the community events.</p>
  <p>Back to my original point though, week 7 has been very long and very diverse. Let's take a birds-eye look and then unpack.</p>
  <ul>Intense Week 7
    <li>Guest lecture about regular expressions</li>
    <li>Start our first 2-week project</li>
    <li>Start our first 4-person project</li>
    <li>Start our second Rails project</li>
    <li>Holiday Party with the Technology Alliance and all sorts of guests</li>
    <li>Guest Lecture about the landscape of programming languages</li>
    <li>Internship and Mentorship panel and speed-networking event</li>
    <li>I got a 1-on-1 with Kerri</li>
  </ul>
  <p>The downside of having such a long week is that I don't feel like I have the energy to really go into a lot of detail with each of the pieces. One of these days I should come back to this application and add functionality for making comments so I can hear from readers about what they are most interested in reading about. It is always so exciting to come back to this Sinatra application and look at how different it is from Rails. I don't really know what I can just add in and what I need the Rails backend for. Definitely stuff to look into.</p>
  <p>I think the biggest things I'm taking away from this week is both how big Rails is as we go forward in this project and how small rails is when compared to all the other languages and frameworks that exist and all the work that is being done. With that I think I'm going to sign off and think about what to write and how to write a technical blog post as per Bookis' challenge.</p>
</div>